@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* shared styles */
.display-flex{
  display: flex;
}
.primary-bg{
  background-color: rgba(255, 144, 14, 0.1);
}

.dark-2{
  color: #424242;
}
.dark-3{
  color: rgba(114, 114, 114, 1);
}
main > section{
  margin-bottom: 130px;
}

/* header styles */


/* nav styles */


header nav{
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.brand-name{
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-link-container{
  gap: 50px;
}
.nav-links{
  list-style: none;
  
  font-weight: 400;
  font-size: 18px;
}
.nav-item{
  text-decoration: none;
}
/* banner styles */
.btn-primary{
  color: white;
  background: rgba(255, 144, 14, 1);
  font-size: 1.25rem;
  font-weight: 600;
  padding:20px 24px;
  border: none;
  border-radius: 10px;
  margin-bottom: 50px;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  padding-top: 115px;
}


.banner-title{
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
}
.banner-dis{
margin-bottom: 30px;
padding: 20px;
}


.banner{
  max-width: 1440px;
  margin: 0 auto;
}
.banner-pic{
  width:calc( 100% - 20px);
  margin-bottom: 45px;
  padding-right: 10px;
  padding-left: 10px;
}

/* main section start */

/* team section styles */
.team-section{
  max-width: 1440px;
  margin: 85px auto;
  gap: 70px;
  align-items: center;
}
.team-title{
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0;
}
.team-dis{
  margin-bottom: 32px;
}
.image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}


/* feature section styles */
.feature-section{
  max-width: 1440px ;
  margin: 0 auto;
}
.feature-item{
  gap: 146px;
}
.feature-content{
  margin-top: 30px;
}

.feature-title{
  font-size: 2.8rem;
  font-weight: bold;
  border-left: 5px solid orange;
  padding-left: 10px;
 
  
}
.card{
  /* border: 2px solid tomato; */
  padding: 30px 40px 30px 30px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.10);
}

.card-title{
  font-size: 1.25rem;
  font-weight: 600;
}
.card-dis{
  color: rgba(114, 114, 114, 1);
}
.feature-image{
  position: relative;
}

.exprience-box{
  position: relative;
  top: -128px;
  left: -92px;
  background: orange;
  max-width: 330px;
text-align: center;
  padding: 40px;
  border-radius: 8px;
  
}
.ex-title{
  font-size: 4rem;
  font-weight: bold;
  color: white;
}
.ex-dis{
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

/* some-fact-section styles */

.fact-section{
  max-width: 1440px;
  margin: 0 auto;
}
.fact-title{
  font-size: 2.5rem;
  font-weight: bold;
}
.fact-content{
  max-width: 542px;
}

.fact-container{
margin-top: 100px;
justify-content: space-around;
align-items: center;

}
.fact{
  display: flex;
  flex-direction: column;
  width: 241px;
  height: 241px;
  border: 2px solid rgba(255, 144, 14, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.fact-number{
  font-size: 2.5rem;
font-weight: 600;
margin: 10px 0px 5px;
}
.fact-sector{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}




/* media quary for small device */

@media screen and (max-width: 576px) {


  .nav-container,
   .nav-link-container, 
   .team-section, 
   .feature-item, 
   .fact-container
   {
    flex-direction: column;
  }
  .banner-content{
    width: 100%;
  }
  .image-container{
    grid-template-columns: repeat(1, 1fr);
  }
 .team-content{
  text-align: center;
 }
  .feature-pic{
    padding: 20px;
    width: calc(100% - 40px);

  }
  .exprience-box{
    position: static;
    margin: 20px;
  }
  .feature-dis{
    padding: 20px;
  }
  .fact-container{
    gap: 20px;
  }
  .fact-content{
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
  }
}



